
<% if user_signed_in? %>
<table>
    <tr>
        <th> Name </th>
        <th> Description </th>
        <th> Date </th>
    </tr>

    <% @events.each do |event|  %>
        <tr>
        <td> <%= event.nameEvent %> </td>
        <td> <%= event.description %> </td>
        <td> <%= event.date %> </td>
            <td><%= link_to 'See more..', event %>  </td>
        </tr>
    <% end %>
<% end %>
